<div>
  <div style="width: 50%; display: block;margin:5% auto">
    <div>

        <div style="float: left; padding: 50px"> 

          <mat-card>
            <img src="../../assets/images.png"> <br>
            <h4>Device Allocation</h4>
          </mat-card>
          <br>
          <mat-card>
              <img src="../../assets/map.png"> <br>
              <h4>Current Status</h4>
          </mat-card>
        </div>
    </div>

    <div>
        <div style="float: left; padding: 50px">
            <mat-card>
                <img src="../../assets/notification.png"> <br>
                <h4>Push Notifications</h4>
            </mat-card>

            <br>

            <mat-card>
                <img src="../../assets/settings.png"> <br>
                <h4>Settings</h4>
            </mat-card>

        </div>
    </div>
  </div>
</div>