 <div class = "backDividerTop">
 </div>
 <div class="backDividerBottom">
    <form >
        <mat-card class="example-card">
            <img class="imgPositon" src="../../assets/profile_1x.png"> 
            <br>
            <h1>LOGIN</h1>
            
            <mat-form-field style="width: 500px" >
              <input matInput   placeholder="Username"  value="">
            </mat-form-field> 
            <br>
  
            <mat-form-field style="width: 500px" >
                <input matInput   placeholder="Password"  value="">
            </mat-form-field>
            <br>
            <br>
            <button mat-raised-button color="accent">Login</button>
  
        </mat-card>
  </form>
 </div>
 

