@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-card {
 
    width: 500px;
    height: 450px;
  }

  .backDividerTop{
    width: 100%;
    height: 350px;
    background: rgb(108, 0, 255)
  }

  .backDividerBottom{
    position: absolute;
    margin-top: -70px;
    margin-left: 35%;
    
  }

  h1{
    margin-left: 38%
  }

  .imgPositon{
    margin-left: 150px;
  }
  
  button {
    margin-left: 138px;
    width: 200px;
  }